[submodule "mod/peract"]
	path = mod/peract
	url = https://github.com/peract/peract.git
[submodule "mod/miso"]
	path = mod/miso
	url = https://github.com/ExistentialRobotics/MISO.git
[submodule "mod/RLBench"]
	path = mod/RLBench
	url = https://github.com/MohitShridhar/RLBench.git
	branch = peract
