[submodule "mod/PerAct"]
	path = mod/PerAct
	url = https://github.com/peract/peract.git
[submodule "mod/MISO"]
	path = mod/MISO
	url = https://github.com/ExistentialRobotics/MISO.git
[submodule "mod/RLBench"]
	path = mod/RLBench
	url = https://github.com/MohitShridhar/RLBench.git
	branch = peract
